---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { getCollection } from "astro:content";
import ProjectsWrapper from "@/components/Projects.astro";
import Heading from "@/components/ui/Heading.astro";
---

<Layout title="Projects" description="My projects and work">
  <div
    class="flex flex-col w-full h-full gap-12 py-34 items-center justify-center"
  >
    <Heading tag="h1" size="h1" icon="school" iconSize={38}>
      My School Projects
    </Heading>
    <ProjectsWrapper />
  </div>
</Layout>
