---
import Button from "./ui/Button.astro";
---

<section class="flex flex-col items-center justify-center pt-42">
  <h1
    class="text-base md:text-3xl lg:text-4xl xl:text-5xl text-gradient-header"
  >
    🫣 Are you lost?
  </h1>
  <p class="text-sm md:text-base lg:text-lg text-base-content/70">
    Oops! The page you're looking for seems to have wandered off.
  </p>
  <Button variant="primary">
    <a href="/">Go home</a>
  </Button>
</section>
