---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { getCollection } from "astro:content";
import Link from "./ui/Link.astro";

type Props = {
  limit?: number;
};

const projects = await getCollection("projects");

const { limit } = Astro.props;
---

<div
  class="h-full w-full grid grid-cols-1 sm:grid-cols-[repeat(auto-fill,minmax(320px,1fr))] gap-6 justify-center justify-items-center px-8"
>
  {
    projects
      .slice(0, limit)
      .map((project) => <ProjectCard key={project.id} project={project} />)
  }
</div>
{
  limit && (
    <Link href="/projects" icon="arrow_forward" iconPosition="right">
      View all projects
    </Link>
  )
}
