---
import "../styles/global.css";
import BaseHead from "@/layouts/BaseHead.astro";
import StarField from "@/components/StarField.astro";
import NavBar from "@/layouts/NavBar.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <StarField />
    <NavBar />
    <main class="relative z-10 flex flex-col items-center justify-center">
      <slot />
    </main>
  </body>
</html>
