---
import ThemeToggle from "@/components/ui/ThemeToggle.astro";
import Link from "@/components/ui/Link.astro";
---

<nav
  class="grid grid-cols-[1fr_auto] fixed top-0 p-6 left-2 right-2 bg-nav-background backdrop-blur-md z-50"
  aria-label="Navigation bar"
  transition:persist
>
  <ul class="flex justify-center items-center gap-8">
    <Link href="/" icon="person_2">About me</Link>
    <Link href="/projects" icon="code">Projects</Link>
    <Link href="/blog" icon="library_books">Blog</Link>
  </ul>
  <div class="flex justify-end items-center">
    <ThemeToggle />
  </div>
</nav>
