---
import type { HTMLAttributes } from "astro/types";

type ButtonElementProps = HTMLAttributes<"button"> & {
  href?: never;
};

type AnchorElementProps = HTMLAttributes<"a"> & {
  href: string;
};

type Props = (ButtonElementProps | AnchorElementProps) & {
  variant?: "primary" | "secondary";
  size?: "small" | "medium" | "large";
};

const {
  variant = "primary",
  size = "medium",
  href,
  class: className,
  ...rest
} = Astro.props;

const variantStyles = {
  primary: "border border-accent text-accent hover:bg-accent hover:text-white",
  secondary: "bg-accent text-white hover:bg-accent hover:text-secondary",
} as const;

const sizeStyles = {
  small: "px-3 py-1.5 text-sm",
  medium: "px-4 py-2 text-base",
  large: "px-6 py-3 text-lg",
} as const;

const baseStyles =
  "inline-flex items-center justify-center rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer transition-colors";

const classes = [
  baseStyles,
  variantStyles[variant],
  sizeStyles[size],
  className,
];
---

{
  href ? (
    <a href={href} class:list={classes} {...(rest as HTMLAttributes<"a">)}>
      <slot />
    </a>
  ) : (
    <button class:list={classes} {...(rest as HTMLAttributes<"button">)}>
      <slot />
    </button>
  )
}
