---
const headingOptions = {
  h1: "text-2xl md:text-3xl lg:text-4xl xl:text-5xl",
  h2: "text-xl md:text-2xl lg:text-3xl xl:text-4xl",
  h3: "text-lg md:text-xl lg:text-2xl xl:text-3xl",
  h4: "text-base md:text-lg lg:text-xl xl:text-2xl",
  h5: "text-sm md:text-base lg:text-lg xl:text-xl",
};

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h1"> {
  tag: keyof typeof headingOptions;
  size: keyof typeof headingOptions;
  icon?: string;
  iconSize?: number;
}

const { tag, size, icon, iconSize = 24, ...rest } = Astro.props;

const Tag = headingOptions[tag];
---

<Tag
  class:list={[
    "text-gradient-header flex items-center gap-2",
    headingOptions[size],
  ]}
  {...rest}
>
  {
    icon && (
      <span
        class="material-symbols-outlined header-icon"
        style={`font-size: ${iconSize}px;`}
      >
        {icon}
      </span>
    )
  }
  <slot />
</Tag>
